<h1><%= @property.name %></h1>
<%= @property.description %><br>
£<%= @property.price %> per night

<dl>
  <% @dates.each do |day| %>
    <dt>
      <strong><%= day.date.strftime("%d/%m/%Y") %></strong>
    </dt>
    <dd class='book'>
    <% if day.available? == true %>
      Available <form action='/property/<%= day.id %>' method='post'>
                  <input type='submit' value='Book'>
                </form>
    <% else %>
      Not available
    <br><br>
    <% end %>
    </dd>
  <% end %>
</dl>